@model SearchSessionViewModel


<h1>Training Sessions</h1>



<div class="container align-items-center border border-dark border-2">
    <form id="searchForm" method="get" asp-controller="Session" asp-action="Search" class="m-2">
        <div class="row ">
            <div class="col">
                <div class="mb-3 w-50">
                    <label for="Year" class="form-inline">Year</label>

                    <select id="Year" asp-for="Year" name="Year" class="form-control">
                        <option value="">choose a year</option>
                        @foreach (var year in ViewBag.Years)
                        {
                            <option value="@year.NameEn">@year.NameEn</option>
                        }
                    </select>

                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 w-50">
                    <label asp-for="Type">Training Type</label>

                    <select id="Type" asp-for="Type" name="Type" class="form-control">
                        <option value="">choose training type</option>

                        @foreach (var trainingType in ViewBag.Types)
                        {
                            <option value="@trainingType.NameEn">@trainingType.NameEn</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3 w-50">
                    <label for="TrainerName">Trainer Name</label>

                    <select id="TrainerName" asp-for="TrainerName" name="TrainerName" class="form-control">
                        <option value="">choose trainer name</option>

                        @foreach (var trainer in ViewBag.Trainers)
                        {
                            <option value="@trainer.NameEn">@trainer.NameEn</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 w-50">
                    <label asp-for="TraineeName">Trainee Name</label>
                    <input id="TraineeName" asp-for="TraineeName" name="TraineeName" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3 w-50">
                    <label for="Status">Status</label>

                    <select id="Status" asp-for="Status" name="Status" class="form-control">
                        <option value="">choose status</option>

                        @foreach (var st in ViewBag.Status)
                        {
                            <option value="@st.NameEn">@st.NameEn</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 w-50">
                    <label for="Result">Result</label>

                    <select id="Result" asp-for="Result" name="Result" class="form-control">
                        <option value="">choose result</option>

                        @foreach (var result in ViewBag.Results)
                        {
                            <option value="@result.NameEn">@result.NameEn</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3 w-50">
                    <label asp-for="StartDate">Start Date</label>
                    <input id="StartDate" asp-for="StartDate" name="StartDate" class="form-control" type="date" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 w-50">
                    <label for="ExpectedEndDate">Expected End Date</label>
                    <input id="EndDate" asp-for="EndDate" name="EndDate" class="form-control" type="date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-dark w-25 m-4">Search</button>
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div>
        <a asp-action="Create" class="btn btn-dark m-4">Create New Session</a>
        <a asp-action="Update" asp-route-year="@DateTime.Now.Year" class="btn btn-dark m-4">Update Current Session</a>
    </div>
</div>


<style>
    table {
        border-collapse: collapse;
        / Collapse borders to avoid double borders / width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        / Add a 1px solid border to all table cells / padding: 8px;
        / Add padding for better spacing / text-align: left;
        / Align text to the left /
    }

    th {
        background-color: #f2f2f2;
        / Add background color to table headers /
    }
</style>
@{
    List<SessionViewModel> sessionsViewModel = ViewBag.SessionsViewModel as List<SessionViewModel>;
}

<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Year</th>
            <th>Trainee Name</th>
            <th>Trainer Name</th>
            <th>Training Type</th>
            <th>Start Date</th>
            <th>Expected End Date</th>
            @*<th>Status</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var session in sessionsViewModel)
            {
                <tr>
                    <td>@session.Year</td>
                    <td>@session.TraineeName</td>
                    <td>@session.TrainerName.NameEn</td>
                    <td>@session.TrainingType.NameEn</td>
                    <td>@session.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@session.ExpectedEndDate.ToString("yyyy-MM-dd")</td>
                    @*<td>@session.TrainingStatus.NameEn</td>*@

                    <td>
                        <div class="w-60 btn-group d-inline mr-2" role="group">
                            <a asp-controller="Session" asp-action="Details" class="mx-2 text-decoration-none"
                               asp-route-id="@session.SessionId">
                                <i class="bi bi-eye-fill text-black-50"></i>
                            </a>
                            <a asp-controller="Session" asp-action="UpdateSession" class="mx-2 text-decoration-none"
                               asp-route-id="@session.SessionId">
                                <i class="bi bi-pencil-fill text-black-50"></i>
                            </a>

                            <a asp-controller="Session" asp-action="Delete" class="mx-2 text-decoration-none"
                               asp-route-id="@session.SessionId">
                                <i class="bi bi-trash text-black-50"></i>
                            </a>

                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



@section Scripts{

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // Get the form element by its ID
            var form = document.getElementById('searchForm');

            // Add a submit event listener to the form
            form.addEventListener('submit', function (event) {
                // Check if at least one input is filled
                var inputs = form.querySelectorAll('input[type=text], input[type=date], select');
                var atLeastOneFilled = Array.from(inputs).some(function (input) {
                    return input.value.trim() !== '';
                });

                // If no input is filled, prevent form submission
                if (!atLeastOneFilled) {
                    alert('Please fill at least one input.');
                    event.preventDefault(); // Prevent form submission
                }
            });
        });
    </script>
    @*<script>
        // Define a function to perform the AJAX request
        function performSearch() {
            // Get the values of the search criteria from your form inputs
            var year = $('#Year').val();
            var type = $('#Type').val();
            var trainerName = $('#TrainerName').val();
            var traineeName = $('#TraineeName').val();
            var status = $('#Status').val();
            var result = $('#Result').val();

            // Create an object to hold the search criteria
            var searchData = {
                Year: year,
                Type: type,
                TrainerName: trainerName,
                TraineeName: traineeName,
                Status: status,
                Result: result
            };

            // Perform the AJAX GET request
            $.ajax({
                url: '@Url.Action("Search", "Session")', // Replace with the actual URL of your Search action
                type: 'GET',
                data: searchData,
                success: function (result) {
                    // Update the page with the filtered results
                    $('#searchResults').html(result);
                },
                error: function (error) {
                    // Handle any errors if necessary
                    console.error(error);
                }
            });
        }

        // Attach the performSearch function to the form's submit event
        $('#searchForm').submit(function (e) {
            e.preventDefault(); // Prevent the default form submission
            performSearch(); // Call the performSearch function
        });
    </script>*@

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}